<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @Html.ActionLink("Mail Ticket", "Index", "Home", new { area = "" }, new { @class = "txt-logo" })
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Ruoli", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Utenti", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Spettacoli", "IndexAdmin", "Home")</li>
                    </ul>
                }
                @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
                {
                    <ul class="nav navbar-nav">
                            @*<li>@Html.ActionLink("Manifestazioni", "PvManifestazioni", "Home")</li>*@
                            <li>@Html.ActionLink("Carrello", "", "")</li>
                        </ul>
                }
                @if (!Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li class="txt-logo">Portale gestione prevendita</li>
                    </ul>
                }
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-toggle="tooltip" title="Home" class="obj-header" href="~/Home/Index"><span class="glyphicon glyphicon-home"></span></a></li>
                            <li><a data-toggle="tooltip" title="Istruzioni per l'uso" class="obj-header" href="~/Home/About"><span class="glyphicon glyphicon-edit"></span></a></li>
                            <li><a data-toggle="tooltip" title="Contattaci" class="obj-header" href="~/Home/Contact"><span class="glyphicon glyphicon-pencil"></span></a></li>
                        </ul>
                        @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MailTicket Portale Prevendita</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
