
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message 
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseExample">Assegna manifestazione<span class="badge">@ViewBag.EventiTot eventi</span></button>
    
    </h3>
<span class="btn-danger">@ViewBag.Ko</span>
@using (Html.BeginForm())
{
    <div class="collapse" id="collapse1">
        <div class="well">
            <div class="row">
                <div class="col col-sm-2">
                    @Html.DropDownList("IdUtente", null, "Scegli l'insegna", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col col-sm-2">
                    <input name="btnAssegna" type="submit" value="Assegna" class="btn btn-success" />

                </div>
            </div>
        </div>
    </div>
}
    <table class="table">
        <tr>
            <th>Spettacolo</th>
            <th>Evento</th>
            <th>Data</th>
            <th>Location</th>
        </tr>
@foreach (var item in ViewBag.Eventi)
{
            <tr>
                <td>@Html.ActionLink((string)@item.Spettacolo, "AdmSpettacoli", new { man = @item.idMan, spe = @item.Spettacolo })</td>
                <td>
                    @{ string man = @item.idMan; string even = item.idEvento;}
                    @Html.ActionLink(man + "-" + even, "AdmEventi", new { man = @item.idMan, spe = @item.Spettacolo, eve = @item.idEvento })
                </td>
                <td>@item.Dataevento</td>
                <td>@item.Location</td>
            </tr>
        }
    </table>
