@model IEnumerable<MailTicketAzureMvc.ServizioPrevendita.EventoMail>

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col col-md-2">
            <div class="btn btn-primary"><span class="badge">@ViewBag.EventiTot</span> @ViewBag.Message</div>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." name="cerca"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
     </div>
}
<p></p>
<table class="table-hover">
    <tr>
        <th>Man</th>
        <th>Spettacolo </th>
        <th>Evento</th>
        <th>Data</th>
        <th>Location</th>
    </tr>
    @foreach (var items in ViewBag.Eventi)
    {
        <tr>
            <td>@{ string cod = items.idMan + items.idEvento;}
                    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#@cod" aria-expanded="false" aria-controls="collapseExample">
                        ...
                    </a>
                @Html.ActionLink((string)@items.idMan, "AdmManifestazioni", new { man = @items.idMan })</td>
            <td>@Html.ActionLink((string)@items.Spettacolo, "AdmSpettacoli", new { man = @items.idMan, spe = @items.Spettacolo})</td>
            <td>
                @{ string man = @items.idMan; string even = items.idEvento;}
            @Html.ActionLink(man +"-" + even, "AdmEventi", new { man = @items.idMan, spe = @items.Spettacolo, eve = @items.idEvento})</td>
            <td>@items.Dataevento</td>
            <td>@items.Location</td>
           </tr>
           <tr >
               <td colspan="5">
                   <div class="collapse" id="@cod">
                       <div class="well">
                           <p><strong><em>Questo evento è assegnato a:</em></strong></p>
                       </div>
                   </div>
               </td>
           </tr>
     }
</table>

