@model IEnumerable<MailTicketAzureMvc.ServizioPrevendita.EventoMail>

@{
    ViewBag.Title = "PvSpettacoli";
}
<h2>PvSpettacoli</h2>
@ViewBag.CarrelloOk

    <div class="row text-warning">
        <div class="col col-md-1">
        </div>
        <div class="col col-md-1">
                Id Man Ev
        </div>
        <div class="col col-md-3">
            Location
        </div>
        <div class="col col-md-3">
            Spettacolo
        </div>
        <div class="col col-md-3">
            Data
        </div>
    </div><hr />
@foreach (var items in ViewBag.Spettacoli)
{
    foreach (var item in Model.Where(s => s.idMan == items.IdMan & s.idEvento == items.IdEvento))
    {
        <div class="row">
            <div class="col col-md-1">
                @Html.ActionLink("+ Carrello", "", "")
            </div>
            <div class="col col-md-1">
                <strong>
                    <span>@Html.DisplayFor(modelItem => item.idMan)</span>
                    <span>@Html.DisplayFor(modelItem => item.idEvento)</span>
                </strong>
            </div>
            <div class="col col-md-3">
                <em><span>@Html.DisplayFor(modelItem => item.Location)</span></em>
            </div>
            <div class="col col-md-3">
                @Html.DisplayFor(modelItem => item.Spettacolo)
             </div>
            <div class="col col-md-3">
                @Html.DisplayFor(modelItem => item.Dataevento)
            </div>
        </div>
    }

}
