@model IEnumerable<MailTicketAzureMvc.ServizioPrevendita.EventoMail>

@{
    ViewBag.Title = "test";
}

<h2>test</h2>
<h2>@ViewBag.Message</h2>
<h1>qui</h1>
<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

@foreach (var items in ViewBag.Spettacoli)
{
    @items.Spettacolo <br/>
    foreach (var item in Model.OrderBy(s => s.Spettacolo).Where(s=>s.idMan == items.IdMan))
    {
        <tr>
            <td>@item.Spettacolo</td>
            <td>@item.Spettacolo</td>
            <td>@item.idMan</td>
        </tr>

    }
}
